.transfersNav-container {
    height: 60px;
    line-height: 60px;
    width: 25%;
    margin: 40px auto 0;
}

.transfersNav-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.transfersNav-container li {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.transfersNav-container input {
    display: none;
}

.transfersNav-container label {
    cursor: pointer;
}

.transfersNav-container input:checked + label {
    font-weight: bold;
    color: #724935;
}