.account-container {
    padding: 10px 10px;
    border-bottom: thin solid #ccc;
}

.account-container  span {
    display: inline-block;
    width: 50%;
}

.account-container  span.total {
    text-align: right;
}

.account-container .delete-account-button {
    background-color: #dc143c;
    border: none;
    border-radius: 50%;
    color: white;
}